.todo {
    &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        background: var(--card-color);
        border-radius: 27px;
        width: 315px;
        min-height: 250px;
        padding: 10px;
        text-align: center;
    }

    &-title {
        font-size: 32px;
    }

    &-description {
        font-size: 20px;
    }

    &-icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.completed {
    background: var(--card-color-done);

    .todo-title,
    .todo-description {
        opacity: 0.5;
        text-decoration: line-through;
    }

    &-done {
        color: rgb(255, 255, 255, 1);
        display: block;
        font-size: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-hide {
        display: none;
    }
}

.icon {
    cursor: pointer;

    &-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 4px;
    }

    &-close:hover,
    &-done:hover,
    &-edit:hover {
        fill: var(--delete-color);
    }

    &-done {
        height: 35px;
        width: 35px;
    }

    &-edit {
        height: 30px;
        width: 30px;
    }
}
