.addtodo {
    padding-bottom: 19px;
    &-title {
        text-align: center;
        font-size: clamp(27px, 5.3vw, 36px);
    }

    &-main {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        gap: 50px;
    }

    &-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-button {
        padding: 13px 26px;
    }

    &-text {
        min-width: 220px;
        text-align: center;
    }
}

.form {
    &-main {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-input,
    &-textarea {
        border-radius: 15px;
        border: 3px solid var(--border-color);
        padding: 11px 16px;
        font-family: inherit;
        font-size: 15px;
        width: 255px;
    }

    &-textarea {
        resize: none;
    }
}

.line::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 100%;
    background: var(--main-color);
}

@media (max-width: 750px) {
    .addtodo {
        &-main {
            grid-template-columns: 1fr;
        }

        &-form {
            justify-content: space-around;
        }
    }
}

@media (max-width: 500px) {
    .addtodo {
        &-title {
            margin-bottom: 10px;
        }

        &-form {
            flex-direction: column;
            gap: 35px;
        }

        &-main {
            gap: 20px;
        }
    }

    .form-main {
        gap: 5px;
    }
}
