*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #280539;
    --main-color: rgba(71, 176, 243, 0.64);
    --button-color: #007dcd;
    --hover-color: #3aa3e7;
    --delete-color: #041466;
    --active-button-color: #8240ee;
    --active-button-hover-color: #ac7ef7;
    --border-color: #050960;
    --card-color: rgba(71, 176, 243, 0.64);
    --card-color-done: rgba(71, 176, 243, 0.34);
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
}

/* сама прокрутка */
body::-webkit-scrollbar {
    width: 10px;
}

/* дорожка (индикатор выполнения) полосы прокрутки, где поверх белой полосы находится серая полоса. */
body::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* перетаскиваемый маркер прокрутки */
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
}

.button {
    border-radius: 75px;
    background: var(--button-color);
    font-family: inherit;
    border: 0;
    color: currentColor;
    font-size: 24px;
    cursor: pointer;
    padding-block: 5px;
    text-transform: lowercase;
}

.button:hover {
    background: var(--hover-color);
}

.button-active {
    background: var(--active-button-color);
}

.button-active:hover {
    background: var(--active-button-hover-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
